In [3]:
'''Assignment 20th august (Python basic data type)
Topic:- String based assignment problem'''
#1.Write a program to reverse a string.
s = input("enter a string")
r = s[::-1]
print(r)

enter a string pwskills

sllikswp

In [14]:
#2.Check if a string is a palindrome.
def ispalindrome(s):
    if (s == s[::-1]):
        return "yes"
    else:
        return "no"
s = input("enter a string:-")

enter a string:- malayalam

In [15]:
print(ispalindrome(s))

yes

In [17]:
#3.Convert a string to uppercase.
s = input("enter a string:-")
s1 = s.upper()
print(s1)

enter a string:- assignment

ASSIGNMENT

In [1]:
#4.Convert a string to lowercase.
s = input('enter a string:-')
s1 = s.lower()
print(s1)

enter a string:- ASSIGNMENT

assignment

In [14]:
#5.Count the number of vowels in a string.
string = input("Enter a string")
vowel_count = 0
for char in string:
    char_lower = char.lower()
    if char_lower in "aeiou":
        vowel_count += 1
print("Number of vowels: ", vowel_count)

Enter a string Assignment

Number of vowels:  3

In [20]:
#6.Count the number of consonants in a string.
string = input("Enter a string")
consonant_count = 0
for char in string:
    char_lower = char.lower()
    if char_lower in "bcdfghjklmnpqrstvwxyz":
        consonant_count += 1
print("Number of consonant: ", consonant_count)

Enter a string Assignment

Number of consonant:  7

In [33]:
#7.Remove all whitespaces from a string.(Way 1)
input_string = input("Enter a string: ")

modified_string = ""

for char in input_string:
    
    if char != " ":
        
        modified_string += char
        
print("Modified string without whitespace: ", modified_string)

Enter a string:  Python is a case sensitive language

Modified string without whitespace:  Pythonisacasesensitivelanguage

In [35]:
#(Way 2) or in different way:-
s = input("enter a string: ")
str_wout_whitspc = s.replace(" ", "")
print(str_wout_whitspc)

enter a string:  Pwskiils are upskilling in affordable prices

Pwskiilsareupskillinginaffordableprices

In [3]:
#8.Find the length of a string without using the `len()` function.
input_string = input("Enter a string: ")
count_variable = 0
for char in input_string:
    count_variable += 1
print("Length of string: ", count_variable)

Enter a string:  String length

Length of string:  13

In [28]:
#9.Check if a string contains a specific word.
s = input("Enter a string: ")
z = s.find("for")
if z == -1:
    print("No")
else:
    print("Yes")

Enter a string:  This was really tough took too much time

No

In [29]:
#10.Replace a word in a string with another word.
input_str = input("Enter a string")
z = input_str.replace("and", "&")
print(z)

Enter a string I and Pwskills are working for my upskilling.

I & Pwskills are working for my upskilling.

In [1]:
#11.Count the occurence of word in a string.
#step 1)Looking in the string:-
input_str = input("Enter a string: ")
#step 2) for which word you are searching:-
input_str_count = input_str.count(input("looking for: "))
#step 3) how would you like to look the output:-
print('Number of occurence of word: ', input_str_count)

Enter a string:  Enter a string I and Pwskills are working for my upskilling. I & Pwskills are working for my upskilling.
looking for:  Pwskills

Number of occurence of word:  2

In [13]:
#12.Find the first occurence of a word in a string.
s = input("Enter a string: ")
first_occur = s.find(input("searching for: "))
print("First occurence at index:- ", first_occur)

Enter a string:  Find the first occurence of a word in a string
searching for:  first

First occurence at index:-  9

In [14]:
#13.Find the last occurrence of a word in a string.
s = input("Enter a string: ")
last_occur = s.rindex(input("searching for: "))
print("Last occurence at index:- ", last_occur)

Enter a string:  Find the last occurrence of a word in a string
searching for:  a

Last occurence at index:-  38

In [16]:
#14.Split a string into a list of words.
str_split = input("Enter a string:-")
x = str_split.split()
print("List of words=", x)

Enter a string:- Split a string into a list of words

List of words= ['Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [35]:
#15.Join a list of words into a string.
input_list = ['Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

#join elements of text with space
print(' '.join(input_list))

Split a string into a list of words

In [11]:
#16.Convert a string where words are separated by spaces to one where words are separated by underscores.
input_string = input("Enter the string:- ")

print("String with underscores:- ", input_string.replace(' ','_'))

Enter the string:-  String where words are separated by spaces to one where words are separated by underscores.

String with underscores:-  String_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores.

In [12]:
#16.way 2
input_string = "String where words are separated by spaces to one where words are separated by underscores"
z = input_string.replace(" ","_")
print("String with underscores:- ", z)

String with underscores:-  String_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores

In [15]:
#17.Check if a string starts with a specific word or phrase.(way 1)
input_string = input("Enter a string:- ")

spec_word = input("Enter the word:- ")

index = input_string.index(spec_word)
if index == 0:
    print("Yes")
else:
    print("No")

Enter a string:-  if a string starts with a specific word or phrase
Enter the word:-  if

Yes

In [19]:
#Way 2:-
input_string = input("Enter a string:- ")
    
spec_word = input("Enter the word:- ")

word_status = input_string.startswith(spec_word)
print("Word status:- ",word_status)

Enter a string:-  if a string starts with a specific word or phrase
enter the word:-  if

Word status:-  True

In [21]:
#18.Check if a string ends with a specific word or phrase.
input_string = input("Enter the string:- ")

spec_word = input("Enter the word:- ")

word_status = input_string.endswith(spec_word)
print("word status:- ", word_status)

Enter the string:-  if a string starts with a specific word or phrase.
Enter the word:-  phrase.

word status:-  True

In [22]:
#19.Convert a string to title case.
input_string = input("Enter the string:- ")

title_string = input_string.title()
print(title_string)

Enter the string:-  Convert a string to title case

Convert A String To Title Case

In [35]:
#20.Find the longest word in a string.
input_string = input("Enter the string:-")
#split the string into list of words:-
word_list = input_string.split()
#find the longest word using max() function:-
longest_word = max(word_list, key = len)

print(longest_word)

Enter the string:- Find the longest word in a string.

longest

In [36]:
#if position is asked:-
position = input_string.index(longest_word)
print("Position:- ", position)

Position:-  9

In [1]:
#21.Find the shortest word in a string.
input_string = input("Enter a string:- ")
#split the string into list of words:-
word_list = input_string.split()
#find the shortest word using min() funtion:-
shortest_word = min(word_list, key = len)
#if position is asked:-
position = input_string.index(shortest_word)
print('Shortest word:-',shortest_word)
print("Position:- ", position)

Enter a string:-  Find the shortest word in a string.

Shortest word:- a
Position:-  26

In [3]:
#22.Reverse the order of words in a string.

#input string
input_string = input("Enter a string:- ")
#reversing words in a given string
reverse_str = input_string.split()[::-1]
l = []
for i in reverse_str:
    #append reversed words to l
    l.append(i)
#print reverse words
print(" ".join(l))

Enter a string:-  Ram and Shyam about goa.

goa. about Shyam and Ram

In [10]:
#23.Check if a string is alphanumeric.
input_str = input("Enter a string:- ")
result = input_str.isalnum()
print(result)

Enter a string:-  23.Check if a string is alphanumeric

False

In [10]:
#24.Extract all digits from a string.

#initialise the input string:-
input_string = input("Enter the string:-")

#using isdigit() function:-

digits = [int(word) for word in input_string.split() if word.isdigit()]

print("digit in string:-", digits)

Enter the string:- the string there are 7 men and 5 women.

digit in string:- [7, 5]

In [8]:
#Ways-2(number of digits)
input_str = input("Enter a string:-")
def count(input_str):
    number_count = 0
    for i in range(len(input_str)):
        if input_str[i].isdigit():
            number_count += 1
    print("Number count: ", number_count)
count(input_str)

Enter a string:- the string there are 7 men and 5 women.

Number count:  2

In [20]:
#25.Extract all alphabets from a string.
#Input string:-
input_str = input("Enter a string:- ")

#finding characters
result = ""
for i in input_str:
    if i.isalpha():
        result = "".join([result, i])
#results        
print("Alphabets in string:- ", result)

Enter a string:-  sv%$%FGDHieuiw124

Alphabets in string:-  svFGDHieuiw

In [7]:
#26.Count the number of uppercase letters in a string.
input_str = input("Enter a string:-")
def count(input_str):
    upper_count = 0
    for i in range(len(input_str)):
        if input_str[i].isupper():
            upper_count += 1
    print("Upper case letter: ", upper_count)
count(input_str)

Enter a string:- DhjwidiJKDJ&^^%$%&*(*JNJHGdygkdkj

Upper case letter:  10

In [11]:
#27.Count the number of lowercase letters in a string.
input_str = input("Enter a string:-")

def count(input_str):
    lower_count = 0
    
    for i in range(len(input_str)):
        if input_str[i].islower():
            lower_count += 1
              
    print("lower case letter: ", lower_count)
    
count(input_str)

Enter a string:- DhjwidiJKDJ&^^%$%&*(*JNJHGdygkdkj

lower case letter:  13

In [3]:
#28.Swap the case of each character in a string.
input_string = input("Enter a string:- ")

swapped_string = input_string.swapcase()

print(swapped_string)

Enter a string:-   mynameISGovINd

 MYNAMEisgOVinD

In [11]:
#29.Remove a specific word from a string.
input_string = input("Enter a string:- ")

stripping_word = input("Enter the word:- ")

stripped_string = input_string.strip(stripping_word)

print(stripped_string)

Enter a string:-  Pw skills is a good opportunity.
Enter the word:-  opportunity.

Pw skills is a good

In [23]:
#30.Check if a string is a valid email address.
def isvalidEmail(email):
    
    pattern = "^\S+@\S+\.\S+$"
    
    object_email = re.search(pattern, email)
    
    try:
        if object_email.string == email:
            return True
    except:
        return False


e = isvalidEmail("govind26663355@gmail.com")
print(e)

True

In [16]:
#31.Extract the username from an email address string.
#difining a function:-
def extract_username(email):
    username = email.split("@")[0]
    return username
#using it
email_address = input("Enter an email:- ")
username = extract_username(email_address)

print("The username is:- ", username)

Enter an email:-  govindkumar@gmail.com

The username is:-  govindkumar

In [2]:
#32.Extract the domain name from an email address string.
#initialisng:-
input_email = input("Email:- ")

#printing original string:-
print("Original string: " +str(input_email))

#slicing
result = input_email[input_email.index("@")+1 :]

#printing result
print("extracted username: " +str(result))

Email:-  govindkumar@gmail.com

Original string: govindkumar@gmail.com
extracted username: gmail.com

In [13]:
#33.Replace multiple spaces in a string with a single space.
#import regular expression

#define a function
def replace_multiple_spaces(text):
    words = text.split()
    cleaned_text = ' '.join(words)
    return cleaned_text

#Application
input_text = input("enter text with spaces:- ")
#redefine the def
cleaned_text = replace_multiple_spaces(input_text)
print("replaced text:- ", cleaned_text)
'''Note:-Removing all spaces'''

enter text with spaces:-  Replace multiple   spaces     in a string       with a single space.

replaced text:-  Replace multiple spaces in a string with a single space.

'Note:-Removing all spaces'

In [26]:
#34.Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False
url1 = "https://www.google.com/"
print(is_valid_url(url1))

True

In [27]:
#35.Extract the protocol (http or https) from a URL string.
#initializing
from urllib.parse import urlparse
#defining
def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme
#trying
url = "http://www.google.com"

protocol = extract_protocol(url)

print("the protocol is:- ", protocol)

the protocol is:-  http

In [4]:
#36.Find the frequency of each character in a string.
def count_characters(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

#try out
string = "pw skills"
character_frequency = count_characters(string)
print(character_frequency)

{'p': 1, 'w': 1, ' ': 1, 's': 2, 'k': 1, 'i': 1, 'l': 2}

In [10]:
#37.Remove all punctuation from a string.
import re

def remove_punctuation(string):
    return re.sub(r'[^\w\s]', '', string)

#try out
string = "Hello, World!"
string_without_punctuation = remove_punctuation(string)

print(string_without_punctuation)

Hello World

In [14]:
#38.Check if a string contains only digits.

#initialize
input_string = input("Enter a string")

contains_only_digits = input_string.isdigit()

if contains_only_digits:
    print("True")
else:
    print("False")

Enter a string sdsf134

False

In [15]:
#can also be done as:-
def contains_only_digits(string):
    return string.isdigit()

#Trying out:
string = "12345"
if contains_only_digits(string):
    print("Contains only digits!")
else:
    print("Contains characters other than digits.")

Contains only digits!

In [17]:
#39.Check if a string contains only alphabets.
#initialize
input_string = input("Enter a string")

contains_only_alphabets = input_string.isalpha()

if contains_only_alphabets:
    print("True")
else:
    print("False")

Enter a string hfhuhfuhesdjhsj5fgfghhfk

False

In [19]:
#can also be done as:-
def contains_only_alpha(string):
    return string.isalpha()

#Trying out:
string = "asdfghjkl"
if contains_only_alpha(string):
    print("Contains only alphabets!")
else:
    print("Contains characters other than alphabets.")

Contains only alphabets!

In [21]:
#40.Convert a string to a list of characters.
#initialise
input_string = input("Enter a string:- ")
#Type casting:-
string_to_list = list(input_string)

print(string_to_list)

Enter a string:-  pwskills

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [23]:
#41.Check if two strings are anagrams.
#def
s1 = input("s1:-")
s2 = input("s2:-")

if (sorted(s1) == sorted(s2)):
    print("Strings are anagram")
else:
    print("String are not anagram")

s1:- listen
s2:- silent

Strings are anagram

In [42]:
#42.Encode a string using a Caesar cipher.
def encypt_func(txt, s):  
    result = ""  
    
#transverse the plain txt  
    for i in range(len(txt)):  
        char = txt[i]  
        #encypt_func uppercase characters in plain txt  
  
        if (char.isupper()):  
            result += chr((ord(char) + s - 64) % 26 + 65)  
        #encypt_func lowercase characters in plain txt  
        else:  
            result += chr((ord(char) + s - 96) % 26 + 97)  
    return result  
#check the above function
txt = "HELLO WORLD"  
s = 4  
  
print("Plain txt : " + txt)  
print("Shift pattern : " + str(s))  
print("Cipher: " + encypt_func(txt, s))

Plain txt : HELLO WORLD
Shift pattern : 4
Cipher: MJQQTsBTWQI

In [31]:
#43.Decode a Caesar cipher encoded string.
def caesar_cipher_decode(string, shift):
    decoded_string = ""
    for char in string:
        if char.isalpha():
            ascii_offset = ord('a') if char.islower() else ord('A')
            shifted_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
            decoded_string += shifted_char
        else:
            decoded_string += char
    return decoded_string

# Example:
ciphertext = "Khoor, Zruog!"
shift = 3
plaintext = caesar_cipher_decode(ciphertext, shift)
print(plaintext)

Hello, World!

In [37]:
#44.Find the most frequent word in a string.
#initialise:-
from collections import Counter
#define
def most_frequent_word(string):
    
    words = string.split()
    word_counts = Counter(words)
    most_common_word = word_counts.most_common(1)[0][0]
    return most_common_word

#text:
text = "go goa gone. go and do your work"
most_frequent = most_frequent_word(text)
print(most_frequent)

go

In [3]:
#45.Find all unique words in a string.
def find_unique_words(string):
    words = string.split()
    unique_words = set(words)
    return unique_words

#Try out:
string = "Hello there, how are you? Are you enjoying python?"
unique_words = find_unique_words(string)
print(unique_words)

{'Hello', 'how', 'enjoying', 'python?', 'you?', 'are', 'you', 'Are', 'there,'}

In [4]:
#way 2
s = input("string")
words = s.split()
unique_words = set(words)
print(unique_words)

string Find all unique words in a string.

{'unique', 'a', 'in', 'words', 'Find', 'all', 'string.'}

In [10]:
#46.Count the number of syllables in a string.
def syllable_count(word):
    count = 0
    vowels = "aeiouy"
    if word[0] in vowels:
        count += 1
    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1
            if word.endswith("e"):
                count -= 1
    if count == 0:
        count += 1
    return count
print("Syllable:-",syllable_count("hairy"))

Syllable:- 2

In [16]:
#47.Check if a string contains any special characters.
import re

def contains_special_characters(string):
    pattern = r'[^\w\s]'
    if re.search(pattern, string):
        return True
    else:
        return False

# Example:
string = "Hello! How are you?"
contains_special = contains_special_characters(string)

print("Status:-",contains_special)

Status:- True

In [20]:
#48.Remove the nth word from a string.
def remove_nth_word(string, n):
    words = string.split()
    if n >= 1 and n <= len(words):
        del words[n-1]
        return ' '.join(words)
    else:
        return string

# try out:
string = "Remove the nth word from a string."
n = 3
new_string = remove_nth_word(string, n)
print("Result string:- ", new_string)

Result string:-  Remove the word from a string.

In [22]:
#49.Insert a word at the nth position in a string.
def insert_word(string, word, n):
    words = string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word)
        return ' '.join(words)
    else:
        return string

#eg:-
string = "Insert word at the nth position in a string."
word = "a"
n = 1
new_string = insert_word(string, word, n)
print(new_string)

Insert a word at the nth position in a string.

In [27]:
#50.Convert a CSV string to a list of lists.
import csv

def csv_to_list(csv_string):
    rows = csv_string.split('\n')
    csv_list = []
    for row in rows:
        csv_list.append(row.split(','))
    return csv_list

# Example:
csv_string = "2,pw,govind\n2,skills,kumar\n3,upskills,data science"
csv_list = csv_to_list(csv_string)

print(csv_list)

[['2', 'pw', 'govind'], ['2', 'skills', 'kumar'], ['3', 'upskills', 'data science']]

In [ ]:
"""LIST BASED PRACTICE PROBLEM"""

In [1]:
#1.Create a list with integers from 1 to 10.
l = list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#2.Find the length of a list without using the `len()` function.
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
count_variable = 0
for char in L:
    count_variable += 1
print("Length of l1: ", count_variable)

Length of l1:  9

In [40]:
#3.Append an element to the end of a list.
l3 = [1,2,3,4]
l3.append(5)
print(l3)

[1, 2, 3, 4, 5]

In [46]:
#4.Insert an element at a specific index in a list.
l4 = ['P','Q','S','T','X','Y']
list(l4)
l4.insert(2,'R')
print(l4)

['P', 'Q', 'R', 'S', 'T', 'X', 'Y']

In [48]:
#5.Remove an element from a list by its value.
l5 = ['apple','mango','banana','lichi','papaya','berry']
l5.remove("apple")
print(l5)

['mango', 'banana', 'lichi', 'papaya', 'berry']

In [2]:
#6.Remove an element from a list by its index.
l6 = [5,2,7,2,9,7,5,0]
l6.pop(3)

2

In [16]:
#7.Check if an element exists in a list.
l7 = [5,2,7,2,9,7,5,0]

#check for 9
if 5 in l7 :
    print("Exist")
else:
    print("Doesn't exist")

Exist

In [22]:
#8.Find the index of the first occurrence of an element in a list.
l8 = [10, 13, 53, 23, 10, 54, 13, 53]
first_occur = l8.index(int(input("element:-")))
print('first occurence index:-', first_occur)

element:- 13

first occurence index:- 1

In [23]:
#9.Count the occurrences of an element in a list.
l9 = [10, 13, 53, 23, 10, 54, 13, 53, 10]
total_count = l9.count(int(input("element:-")))
print('count of occurence:-', total_count)

element:- 10

count of occurence:- 3

In [25]:
#10.Reverse the order of elements in a list.
l10 = [10, 13, 53, 23, 10, 54, 13, 53, 11]
l10.reverse()
print(l10)

[11, 53, 13, 54, 10, 23, 53, 13, 10]

In [34]:
#11 & 12.Sort a list in ascending and descending order.
l11 = [10, 13, 53, 23, 10, 54, 13, 52, 11]
l11.sort()
print("Ascending order:-",l11)
Des_list = l11[::-1]
print("Descending order:-",Des_list)

Ascending order:- [10, 10, 11, 13, 13, 23, 52, 53, 54]
Descending order:- [54, 53, 52, 23, 13, 13, 11, 10, 10]

In [35]:
#13.Create a list of even numbers from 1 to 20.
l13 = list(range(2,22,2))
print(l13)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
#14. Create a list of odd numbers from 1 to 20.
l14 = list(range(1,20,2))
print(l14)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
#15.Find the sum of all elements in a list.
l15 = [10, 13, 53, 23, 10, 54, 13, 52, 15]
sum_l15 = sum(l15)
print("Sum of elements:-", sum_l15)

Sum of elements:- 243

In [1]:
#16 & 17. Find the maximum and mininmum value in a list.
l16 = [10, 13, 53, 23, 10, 54, 13, 52, 16]
max_value = max(l16)
min_value = min(l16)
print("Maximum:-",max_value)
print("Minimum:-",min_value)

Maximum:- 54
Minimum:- 10

In [19]:
#18.Create a list of squares of numbers from 1 to 10.
squares = []
for num in range(1, 11):
    squares.append(num ** 2)

print("The list of squares is:", squares)

The list of squares is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
#19. Create a list of random numbers.
import random

random_numbers = []
for _ in range(10):
    random_numbers.append(random.randint(1, 100))

print("Here is a list of random numbers:", random_numbers)

Here is a list of random numbers: [20, 64, 20, 47, 46, 27, 31, 60, 67, 49]

In [23]:
#20. Remove duplicates from a list.
l16 = [10, 13, 53, 23, 10, 54, 13, 53, 10]
no_dup = list(set(l16))
print(no_dup)

[10, 13, 53, 54, 23]

In [10]:
#21.Find the common elements between two lists.
l20 = [1, 2, 3, 4, 5]
l21 = [4, 5, 6, 7, 8]

common_elements = set(l20).intersection(l21)

print("The common elements are:", list(common_elements))

The common elements are: [4, 5]

In [12]:
#22. Find the difference between two lists.
l21 = [1, 2, 3, 4, 5, 6]
l22 = [4, 5, 6, 7, 8, 9]

difference = set(l21)-set(l22)
print("The difference:-",list(difference))

The difference:- [1, 2, 3]

In [15]:
#23.Merge two lists.
l22 = [1, 2, 3, 4]
l23 = [4, 5, 6, 7]

Union = set(l21).union(l23)
print("The merged lists:-",list(Union))

The merged lists:- [1, 2, 3, 4, 5, 6, 7]

In [31]:
#24. Multiply all elements in a list by 2.
double = []
l24 = [3,4,5,6,7,8,9]
for i in l24:
    double.append(i*2)
print(double)

[6, 8, 10, 12, 14, 16, 18]

In [1]:
#25. Filter out all even numbers from a list.

l25 = [1,2,3,4,5,6,7,8,9,10]
for e in l25:
    if e%2 == 0:
        continue
    print(e)

1
3
5
7
9

In [3]:
#26.Convert a list of strings to a list of integers.
string_list = ['1','2','3','4','5']
integer_list = []
for string in string_list:
    integer_list.append(int(string))
print(integer_list)

[1, 2, 3, 4, 5]

In [5]:
#27.Convert a list of integers to a list of strings.
int_list=[1, 2, 3, 4, 5]
str_list = []
for integer in int_list:
    str_list.append(str(integer))
print('string_list:-',str_list)

string_list:- ['1', '2', '3', '4', '5']

In [16]:
#28.Flatten a nested list.
#list comprehension:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [x for sublist in my_list for x in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [18]:
#Conditional method:-
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
#29.Create a list of the first 10 Fibonacci numbers.
fib_list = [0, 1]  # Start with the first two numbers

while len(fib_list) < 10:  # Generate the next 8 numbers
    next_number = fib_list[-1] + fib_list[-2]
    fib_list.append(next_number)

print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [21]:
#30.Check if a list is sorted.
def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True
#Example
my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))

True

In [39]:
#31.Rotate a list to the left by `n` positions.
my_list = [1, 2, 3, 4, 5]
def rotate_left(lst, n):
    return lst[n:] + lst[:n]

rotated_list = rotate_left(my_list, 4)
print(rotated_list)

[5, 1, 2, 3, 4]

In [40]:
#32.Rotate a list to the right by `n` positions.
my_list = [1, 2, 3, 4, 5]
def rotate_right(lst, n):
    return lst[-n:] + lst[:-n]

rotated_list = rotate_right(my_list, 4)
print(rotated_list)

[2, 3, 4, 5, 1]

In [44]:
#33.Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [45]:
#34.Split a list into chunks of size `n`.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def split_list(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

chunked_list = split_list(my_list, 3)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [54]:
#35.Find the second largest number in a list.
l35 = [51, 22, 43, 4, 75, 6, 27, 8, 89, 10]
l35.sort()
print('Second largest:-',l35[-2])

Second largest:- 75

In [1]:
#36.Replace every element in a list with its square.
l36 = [2,3,4,5,6,7,8]
sq_lst = [x**2 for x in l36]
print(sq_lst)

[4, 9, 16, 25, 36, 49, 64]

In [9]:
#37.Convert a list to a dictionary where list elements become keys and their indices become values.
l37 = ['apple', 'banana', 'orange']
def list_to_dict(lst):
    return {element: index for index, element in enumerate(lst)}

dict_result = list_to_dict(l37)
print(dict_result)

{'apple': 0, 'banana': 1, 'orange': 2}

In [15]:
#38.Shuffle the elements of a list randomly.
l38 = [1, 2, 3, 4, 5]
import random
random.shuffle(l38)
print("Shuffled:-",l38)

Shuffled:- [2, 3, 1, 4, 5]

In [17]:
#39.Create a list of the first 10 factorial numbers.
factorial_list = []
for i in range(1, 11):
    factorial = 1
    for j in range(1, i + 1):
        factorial *= j
    factorial_list.append(factorial)

print(factorial_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [45]:
#40.Check if two lists have at least one element in common.
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return len(set1.intersection(set2)) > 0

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = have_common_element(list1, list2)
print(result)

True

In [5]:
#41.Remove all elements from a list.
l41 = [1,2,3,4,5,6,7,8]
l41.clear()
print("clear list:-",l41)

clear list:- []

In [6]:
#42.Replace negative numbers in a list with 0.
l42 = [-2,5,6,-8,23,10,-24]
l42 = [0 if i<0 else i for i in l42]
print(l42)

[0, 5, 6, 0, 23, 10, 0]

In [8]:
#or
l42 = [(i > 0) * i for i in l42]
l42

[0, 5, 6, 0, 23, 10, 0]

In [18]:
#43.Convert a string into a list of words.
string = "I am learning Python!"

string_to_list = string.split()

print(string_to_list)
type(string_to_list)

['I', 'am', 'learning', 'Python!']

list

In [21]:
#44.Convert a list of words into a string.
l44 = ['I', 'am', 'learning', 'Python!']
my_string = ' '.join(l44)
print(my_string)

I am learning Python!

In [30]:
#45. Create a list of the first `n` powers of 2.
l45 = [1,2,3,4,5]
l45 = [2**x for x in l45 if 0<x<10]
print("listed 2's power",l45)

listed 2's power [2, 4, 8, 16, 32]

In [35]:
#46.Find the longest string in a list of strings.
l46 = ['I', 'am', 'learning', 'Python!']
longest_word = max(l44, key=len)
print(longest_word)

learning

In [36]:
#47. Find the shortest string in a list of strings.
l47 = ['I', 'am', 'learning', 'Python!']
shortest_word = min(l44, key=len)
print(shortest_word)

I

In [37]:
#48. Create a list of the first `n` triangular numbers.
n = 10  
# Replace 10 with the desired value of n
triangular_numbers = []
sum = 0
for i in range(1, n+1):
    sum += i
    triangular_numbers.append(sum)
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [3]:
#49.Check if a list contains another list as a subsequence.
# initializing list
l49 = [9, 4, 5, 8, 10]
sub_l49 = [10, 5]
 
# using issubset() to
count = 0
if(set(sub_l49).issubset(set(l49))):
    count = 1
    
# printing result
if (count):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Yes, list is subset of other.

In [8]:
#50.Swap two elements in a list by their indices.
l50 = [1, 2, 3, 4, 5]
def swap_elements(l50, a, b):
    l50[a],l50[b] = l50[b],l50[a]
    return l50
a = int(input("input a:-"))
b = int(input("input b:-"))

print(swap_elements(l50, a, b))

input a:- 2
input b:- 4

[1, 2, 5, 4, 3]

In [9]:
#Question based on lis done...

In [1]:
'''Questions based on tuple'''

'Questions based on tuple'

In [4]:
#1.Create a tuple with integers from 1 to 5.
t = tuple(range(1,6))
print("tupple:-",t)
type(t)

tupple:- (1, 2, 3, 4, 5)

tuple

In [8]:
#2.Access the third element of a tuple.
t2 = (1,2,3,4,5,6)
a = t[2]
print("third element or index 2:-",a)

third element or index 2:- 3

In [11]:
#3.Find the length of a tuple without using the `len()` function.
t3 = (2,3,4,5,6,7,8)
count = 0
for char in t3:
    count += 1
print("Length of tuple:-",count)

Length of tuple:- 7

In [20]:
#4.Count the occurrences of an element in a tuple.
t4 = (1,2,3,3,4,5,5,7,8)
element_occurence = t4.count(int(input("Enter the element:-")))
print("No of time:-",element_occurence)

Enter the element:- 3

No of time:- 2

In [25]:
#5.Find the index of the first occurrence of an element in a tuple.
t5 = (4,6,5,6,7,5,8,9,6,10)
element_index = t5.index(int(input("enter element")))
print("first occurent at index:-",element_index)

enter element 6

first occurent at index:- 1

In [6]:
#6.Check if an element exists in a tuple.
t = (9,8,7,6,5,4,4)
i = int(input("enter the no.:-"))
if i in t:
    print("exist")
else:
    print("do not exist")

enter the no.:- 67

do not exist

In [11]:
#7.Convert a tuple to a list.
t = (4,5,78,92,45,6)
l = list(t)
print(type(t))
print(type(l))
l

<class 'tuple'>
<class 'list'>

[4, 5, 78, 92, 45, 6]

In [12]:
#8.Convert a list to a tuple.
l = [4, 5, 78, 92, 45, 6]
tuple(l)

(4, 5, 78, 92, 45, 6)

In [13]:
#9.Unpack the elements of a tuple into variables.
t = (2,3,4)
a,b,c = t
print(a,b,c)

2 3 4

In [14]:
#10.Create a tuple of even numbers from 1 to 10.
t10 =tuple(range(2,11,2))
t10

(2, 4, 6, 8, 10)

In [16]:
#11.Create a tuple of odd numbers from 1 to 10.
t11 = tuple(range(1,10,2))
t11

(1, 3, 5, 7, 9)

In [17]:
#12.Concatenate two tuples.
tup_1 = (1,2,3)
tup_2 = (2,3,4,5)
c = tup_1+tup_2
print(c)

(1, 2, 3, 2, 3, 4, 5)

In [18]:
#13.Repeat a tuple three times.
t = (1,2,3,4)
res_tuple = t*3
print(res_tuple)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [19]:
#14.Check if a tuple is empty.
tup_14 = ()
if len(tup_14) == 0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [23]:
#15.Create a nested tuple.
test_tup1 = (3, 4)
test_tup2 = (5, 6)
 
res = ((test_tup1, ) + (test_tup2, ))

print("Nested tuple: ", str(res))

Nested tuple:  ((3, 4), (5, 6))

In [4]:
#16.Access the first element of a nested tuple.
nested_tup = ((1, 2), (3, 4), (5, 6))
first_element = nested_tup[0][0]
print(first_element)

1

In [6]:
#17.Create a tuple with a single element.
my_tup = tuple(range(0,1))
print(my_tup)

(0,)

In [8]:
#18.Compare two tuples.
tup_18 = tuple(range(1,21,2))
t_18 = tuple(range(1,20,2))
if tup_18 == t_18:
    print("Equal")
else:
    print("Not equal")

Equal

In [10]:
#19.Delete a tuple.
tup_19 = (2,3,4,5,6,7,8)
del(tup_19)

In [11]:
print(tup_19)

NameError: name 'tup_19' is not defined

In [13]:
#20.Slice a tuple.
tup_20 = (12,13,14,15,16,17,18)
sliced_tup = tup_20[1:5]
print(sliced_tup)

(13, 14, 15, 16)

In [16]:
#21.Find the maximum value in a tuple.
tup_20 = (12,134,184,150,16,17,18)
max_value = max(tup_20)
print(max_value)

184

In [17]:
#22.Find the minimum value in a tuple.
tup_20 = (12,134,184,150,16,17,18)
min_value = min(tup_20)
print(min_value)

12

In [21]:
#23.Convert a string to a tuple of characters.
string = "I love the Python"
tup_of_char = tuple(string)
print(tup_of_char)

('I', ' ', 'l', 'o', 'v', 'e', ' ', 't', 'h', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n')

In [24]:
#24.Convert a tuple of characters to a string.
tuple_24 = ('I', ' ', 'l', 'o', 'v', 'e', ' ', 't', 'h', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n')
string_of_char = ''.join(tuple_24)
print(string_of_char)

I love the Python

In [5]:
#25.Create a tuple from multiple data types.
my_tup = (1, "two", 3.0, [4, 5])
print(type(my_tup[0]))
print(type(my_tup[1]))
print(type(my_tup[2]))
print(type(my_tup[3]))
type(my_tup)

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>

tuple

In [2]:
#26.Check if two tuples are identical.
t26 = (3,4,5,6,7,8)
tup_26 = (3,4,5,6,7,8)
if t26 == tup_26:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

In [9]:
#27.Sort the elements of a tuple.
t27 = (2,3,4,5,6,4,3,6,7,7,4)
tuple(sorted(t27))

(2, 3, 3, 4, 4, 4, 5, 6, 6, 7, 7)

In [24]:
#28.Convert a tuple of integers to a tuple of strings.
t28 = (2,3,4,5,6,4,3,6,7,7,4)
tuple_of_str = tuple(str(x) for x in t28) 
print(tuple_of_str)

('2', '3', '4', '5', '6', '4', '3', '6', '7', '7', '4')

In [26]:
#29.Convert a tuple of strings to a tuple of integers.
t29 = ('3', '4', '5', '6', '7', '7', '4')
tup_of_int = tuple(int(x) for x in t29)
print(tup_of_int)

(3, 4, 5, 6, 7, 7, 4)

In [28]:
#30.Merge two tuples.
t_30 = (1,2,3)
t30 = (1,2,3,4)
merged_tuple = t_30+t30
print(merged_tuple)

(1, 2, 3, 1, 2, 3, 4)

In [48]:
#31.Flatten a nested tuple.
t_31 = ((1,2,3),(4,5,6),(7,8))
flattened = tuple(x for sublist in t_31 for x in sublist) 
print(flattened)

(1, 2, 3, 4, 5, 6, 7, 8)

In [1]:
#32.Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter the value of n: "))
prime_numbers = ()
count = 0
num = 2

while count < n:
    if is_prime(num):
        prime_numbers += (num,)
        count += 1
    num += 1

print(prime_numbers)

Enter the value of n:  5

(2, 3, 5, 7, 11)

In [10]:
#33.Check if a tuple is a palindrome.
def is_palindrom(t):
        if t == t[::-1]:
            print("tuple is palindrome")
        else:
            print("tuple is not palindrome")

t = (1,2,3,2,1)
is_palindrom(t)

tuple is palindrome

In [14]:
#34.Create a tuple of squares of numbers from 1 to 5.
t = range(1,6)
squared_tuple = (x**2 for x in t)
tuple(squared_tuple)

(1, 4, 9, 16, 25)

In [19]:
#35.Filter out all even numbers from a tuple.
t35 = range(11,31)
even_list = []
for i in t:
    if i%2 == 0:
        even_list.append(i)
    else:
        continue
req_tup = tuple(even_list)
print(req_tup)

(12, 14, 16, 18, 20, 22, 24, 26, 28, 30)

In [35]:
#36.Multiply all elements in a tuple by 2.
t36 = (2,3,4,5,6,7)
res_tuple = tuple(x*2 for x in t36)
print(res_tuple)

(4, 6, 8, 10, 12, 14)

In [44]:
#37.Create a tuple of random numbers.
import random

random_list = []
for i in range(10):
    
    random_list.append(random.randint(1,100))
tuple(random_list)

(51, 80, 47, 89, 15, 18, 50, 27, 77, 92)

In [51]:
#38.Check if a tuple is sorted.
t = (3, 4, 6, 7, 8, 9)
b = sorted(t)
if tuple(t)==tuple(b):
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple is sorted

In [55]:
#39.Rotate a tuple to the left by `n` positions.
t39 = (2,3,4,5,6,7,8)
def rotate_left(tpl, n):
    return t39[n:] + t39[:n]
rotated_tup = rotate_left(t39,3)
print(rotated_tup)

(5, 6, 7, 8, 2, 3, 4)

In [58]:
#40.Rotate a tuple to the right by `n` positions.
t40 = (2,3,4,5,6,7,8)
def rotate_right(tpl, n):
    return t40[-n:] + t40[:-n]
rotated_tuple = rotate_right(t40,3)
print(rotated_tuple)

(6, 7, 8, 2, 3, 4, 5)

In [53]:
#41.Create a tuple of the first 5 Fibonacci numbers.
#nth fibonacci number:-
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1)+fibonacci(n+2)

In [60]:
#Reuired tuple:-
fibonacci_tuple = (0,1)
for i in range(3):
    next_number = fibonacci_tuple[-1]+fibonacci_tuple[-2]
    fibonacci_tuple += (next_number,)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [2]:
#42.Create a tuple from user input.
input_elements = tuple(input("enter the elements"))
print(input_elements)

enter the elements 12345

('1', '2', '3', '4', '5')

In [16]:
#43.Swap two elements in a tuple.
t43 = (3,4,5,6,7,8)
tuplist = list(t43)
tuplist[2],tuplist[3] = tuplist[3],tuplist[2]
swapped_tup = tuple(tuplist)
print(swapped_tup)

(3, 4, 6, 5, 7, 8)

In [18]:
#44.Reverse the elements of a tuple.
t44 = (3,4,5,6,7,8)
rev_tup = t44[::-1]
print(rev_tup)

(8, 7, 6, 5, 4, 3)

In [24]:
#45.Create a tuple of the first `n` powers of 2.
#finding nth power:
def twos_power(n):
    if n == 0:
        return 1
    elif n>=1:
        return 2**n
    else:
        return "n is not natural"
twos_power(5)

32

In [34]:
#tuple til "n" powers of 2 
n = int(input("Enter the value of n="))
twos_powers = tuple(pow(2,i) for i in range(n+1))
print("Required tuple:-",tuple(twos_powers))

Enter the value of n= 7

Required tuple:- (1, 2, 4, 8, 16, 32, 64, 128)

In [40]:
#46.Find the longest string in a tuple of strings.
string = "I love Python Language"
tuple_string = string.split()
longest_string = max(tuple_string, key=len)
print(longest_string)

Language

In [42]:
#47.Find the shortest string in a tuple of strings.
input_string = input("Enter the string:-")
tuple_string = input_string.split()
shortest_string = min(tuple_string, key = len)
print("Shortest_string:-",shortest_string)

Enter the string:- Find the shortest string in a tuple of strings.

Shortest_string:- a

In [74]:
#48. Create a tuple of the first `n` triangular numbers.
tri_list = []
n = int(input("Enter the n:-"))
sum = 0
for i in range(1, n+1):
    sum += i
    tri_list.append(sum)
tuple(tri_list)

Enter the n:- 7

(1, 3, 6, 10, 15, 21, 28)

In [7]:
#49.Check if a tuple contains another tuple as a subsequence.
tup_49 = (2, 3, 4, 5, 6, 7)
t_49 = (3,4,5)

inter_tup = set(tup_49).intersection(t_49)
if inter_tup == set(t_49):   
    print("Yes, it is subsequent")
else:
    print("No, it is not subsequent")

Yes, it is subsequent

In [10]:
#50.Create a tuple of alternating 1s and 0s of length `n`.
n = int(input("Enter the value of n:-"))
alternating_tuple = ()

for i in range(n):
    if i % 2 == 0:
        alternating_tuple += (1,)
    else:
        alternating_tuple += (0,)

print(alternating_tuple)

Enter the value of n:- 8

(1, 0, 1, 0, 1, 0, 1, 0)

In [11]:
#Tuple based problems done

In [2]:
'''
Problems based on set.
'''
#1.Create a set with integers from 1 to 5.
s1 = []
for i in range(1,6):
    s1.append(i)
set(s1)

{1, 2, 3, 4, 5}

In [4]:
#2.Add an element to a set.
s2 = {2,3,4,5,6,7}
s2.add(8)
print(s2)

{2, 3, 4, 5, 6, 7, 8}

In [7]:
#3.Remove an element from a set.
s3 = {5,6,7,8,9,10}
s3.remove(6)
print(s3)

{5, 7, 8, 9, 10}

In [10]:
#4.Check if an element exists in a set.
set_4 = set(range(60,81))
n = int(input("Enter an element to chek:-"))
if n in set_4:
    print("Exist")
else:
    print("Doesn't exist")

Enter an element to chek:- 81

Doesn't exist

In [15]:
#5.Find the length of a set without using the `len()` function.
set_5 = set(range(11,100))
count = 0
for i in set_5:
    count += 1
print("length of set_5:-",count)

length of set_5:- 89

In [6]:
#6.Clear all elements from a set.
set_6 = set(range(10,20))
print(set_6)

set_6.clear()
print("cleared_set:-",set_6)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
cleared_set:- set()

In [19]:
#7.Create a set of even numbers from 1 to 10.
set_7 = set(range(0,11))
set_list = []
for i in set_7:
    if i%2 == 0:
        set_list.append(i)
    else:
        pass
print("set of even:-",set(set_list))

set of even:- {0, 2, 4, 6, 8, 10}

In [20]:
#8.Create a set of odd numbers from 1 to 10.
set_8 = set(range(0,10))
set_list = []
for i in set_7:
    if i%2 != 0:
        set_list.append(i)
    else:
        pass
print("set of odd:-",set(set_list))

set of odd:- {1, 3, 5, 7, 9}

In [25]:
#9.Find the union of two sets.
s9 = set(range(5)) #{0,1,2,3,4}

set_9 = set(range(5,11)) #{5,6,7,8,9,10}

set_union = s9.union(set_9)

print("united set:-",set_union)

united set:- {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [26]:
#10.Find the intersection of two sets.
s10 = set(range(0,12,3))
set10 = set(range(0,12,2))
common_elements = s10.intersection(set10)
print("Intersection:-",common_elements)

Intersection:- {0, 6}

In [28]:
#11.Find the difference between two sets.
s11 = set(range(1,11))
set11 = set(range(5))
set_diff = s11-set11
print("Difference:-", set_diff)

Difference:- {5, 6, 7, 8, 9, 10}

In [31]:
#12.Check if a set is a subset of another set.
s12 = {1,2,3,4,5,6,7,8,9,10}
s_12 = {2,4,5,6,9}
if s_12.issubset(s12):
    print("Yes, it is subset of given set")
else:
    print("No, it is not a subset of given set")

Yes, it is subset of given set

In [34]:
#13.Check if a set is a superset of another set.
s13 = set(range(100))
s_13 = set(range(20))
if s13.issuperset(s_13):
    print("Yes, it is superset of given set")
else:
    print("No, it is not a superset of given set")

Yes, it is superset of given set

In [36]:
#14.Create a set from a list.
list14 = list(range(20))
list_to_set = set(list14)
print('Required set:-',list_to_set)

Required set {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [37]:
#15.Convert a set to a list.
s15 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set_to_list = list(s15)
print("required list:-",set_to_list)

required list:- [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [12]:
#16.Remove a random element from a set.
s16 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s16.remove(8)
print(s16)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10}

In [13]:
#17.Pop an element from a set.
s17 = {0, 1, 2, 3, 4, 5,}
s17.pop()

0

In [17]:
#18.Check if two sets have no elements in common.
s18 = {1,2,3,4,5,6}
s_18 = {5,6,7,8,9}
common_ele = s18.intersection(s_18)
if len(common_ele)==0:
    print("No elements in common")
else:
    print("common elements:-",common_ele)

common elements:- {5, 6}

In [19]:
#19.Find the symmetric difference between two sets.
s19 = {1,2,3,4,5,6}
s_19 = {5,6,7,8,9,10}
symmetric_diff = s19^s_19
print(symmetric_diff)

{1, 2, 3, 4, 7, 8, 9, 10}

In [24]:
#20.Update a set with elements from another set.
s19 = {1,2,3,4,5}
s_19 = {5,6,7,8,9,10}
s19.update(s_19)
print("Updated set 19:-",s19)

Updated set 19:- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
#21.Create a set of the first 5 prime numbers.
def prime_numbers(n):
    if n<2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n%i==0:
            return False
    return True
N = input("Enter the number of required prime numbers:-")
prime_set = set()
count = 0
n = 2

while count<int(N):
    if prime_numbers(n):
        prime_set.add(n)
        count += 1
    n += 1
print("Required set:-",prime_set)

Enter the number of required prime numbers:- 5

Required set:- {2, 3, 5, 7, 11}

In [9]:
#22.Check if two sets are identical.
set_22 = {4,5,6,7,8}
set22 = {5,6,4,8,7}
if set_22 == set22:
    print("Identical")
else:
    print("Not identical")

Identical

In [11]:
#23.Create a frozen set.
a = ([1,2])
my_frozen_set = frozenset(a)
print(my_frozen_set)

frozenset({1, 2})

In [6]:
#24.Check if a set is disjoint with another set.
s24 = {2,3,4,5}
s_24 = {5,6,7,8,9}
common = s24.intersection(s_24)
if len(common) == 0:
    print("Sets are disjoint")
else:
    print("joint by:-",common)

joint by:- {5}

In [10]:
#25.Create a set of squares of numbers from 1 to 5.
s = set(range(1,6))
squared = {x**2 for x in s}
print(squared)

{1, 4, 9, 16, 25}

In [29]:
#26.Filter out all even numbers from a set.
set_26 = set(range(1,20))
even_set = set()
for i in set_26:
    if i%2 == 0:
        even_set.add(i)
print("Required set:-",even_set)

Required set:- {2, 4, 6, 8, 10, 12, 14, 16, 18}

In [34]:
#27.Multiply all elements in a set by 2.
set_27 = {9, 10, 11, 12, 13, 14, 15}
required_set = {a*2 for a in set_27}
required_set

{18, 20, 22, 24, 26, 28, 30}

In [3]:
#28.Create a set of random numbers.
import random

random_set = set()
for i in range(10):
    random_set.add(random.randint(1,100))
print(random_set)

{33, 37, 39, 71, 10, 75, 13, 82, 54}

In [4]:
#29.Check if a set is empty.
set_29 = set()

if len(set_29) ==0:
    print("Empty")
else:
    print(len(set_29))

Empty

In [14]:
#30.Create a nested set (hint: use frozenset).
nested_set =(frozenset([1,2,3]), frozenset([1,2]))
frozenset(nested_set)

frozenset({frozenset({1, 2}), frozenset({1, 2, 3})})

In [3]:
set1 = {1,2,3}
set1.add(frozenset([1,2,3]))
set1.add(frozenset([5,6,7]))
print("nested set:-",set1)

nested set:- {1, 2, 3, frozenset({5, 6, 7}), frozenset({1, 2, 3})}

In [6]:
#31.Remove an element from a set using the discard method.
set_31 = {1,2,3,4,5,6}
set_31.discard(4)
set_31

{1, 2, 3, 5, 6}

In [13]:
#32.Compare two sets.
s32 = {4,5,6,7,8}
s_32 = {4,5,6,7}
if s32 == s_32:
    print("equal")
elif s_32.intersection(s32) or s32.intersection(s_32):
    print("Subset")
elif len(s32)>=len(s_32) or len(s_32)>=len(s32):
    print("Unequal")
else:
    print("Equivalen but not equal")

Subset

In [14]:
#33.Create a set from a string.
input_string = input("Enter a string:-")
set(input_string.split())

Enter a string:- i love python

{'i', 'love', 'python'}

In [18]:
#34.Convert a set of strings to a set of integers.
set_of_string = {'7', '8', '4', '3', '5', '1', '6', '2'}
set_of_integer = {int(x) for x in set_of_string}
print("set of integer:-",set_of_integer)

set of integer:- {1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
#35.Convert a set of integers to a set of strings.
set_of_integer = {1, 2, 3, 4, 5, 6, 7, 8}
set_of_string = {str(x) for x in set_of_integer}
set_of_string

{'1', '2', '3', '4', '5', '6', '7', '8'}

In [31]:
#36.Create a set from a tuple.
tuple_36 = (5,6,7,8,9)
tuple_to_set = set(tuple_36)
print(tuple_to_set)

{5, 6, 7, 8, 9}

In [33]:
#37.Convert a set to a tuple.
set_37 = {9,8,7,6,5}
set_to_tuple = tuple(set_37)
print(set_to_tuple)

(5, 6, 7, 8, 9)

In [37]:
#38.Find the maximum value in a set.
#39.Find the minimum value in a set.
s38 = {4,23,67,24,98,79}
max_val = max(s38)
min_val = min(s38)
print("Maximum value:-",max_val)
print("Minumum_value:-",min_val)

Maximum value:- 98
Minumum_value:- 4

In [40]:
#40.Create a set from user input.
input_data = input("Enter the data:-")
print(set(input_data))

Enter the data:- python

{'n', 'o', 'h', 't', 'p', 'y'}

In [6]:
#41.Check if the intersection of two sets is empty.
s41 = set(range(2,10,2))
s_41 = set(range(1,10,2))
common_element = s41.intersection(s_41)
if len(common_element)==0:
    print("Empty")
else:
    print("Intersection", common_element)

Empty

In [51]:
#42.Create a set of the first 5 Fibonacci numbers.
fibonacci_set = (0,1)
for i in range(3):
    next_number = fibonacci_set[-1]+fibonacci_set[-2]
    fibonacci_set += (next_number,)
print("Actual numbers:-",fibonacci_set)
print("set form:-",set(fibonacci_set))

Actual numbers (0, 1, 1, 2, 3)
set form:- {0, 1, 2, 3}

In [52]:
#43.Remove duplicates from a list using sets.
list43 = [1,2,3,4,4,5,67,78,78,3,4]
duplicate_rem = set(list43)
print(duplicate_rem)

{1, 2, 3, 4, 5, 67, 78}

In [33]:
#44.Check if two sets have the same elements, regardless of their count.
s44 = {1,2,3,4,5}
s_44 = {5,5,4,3,2,2,1}
if s44 == s_44:
    print("Same")
else:
    print("Different")

Same

In [4]:
#45.Create a set of the first `n` powers of 2.
twos_power = set(pow(2,n) for n in range(0,6))
print(sorted(twos_power))

[1, 2, 4, 8, 16, 32]

In [6]:
#46.Find the common elements between a set and a list.
set_45 = {3,4,5,6,7,8}
list_45 = [1,2,3,4]
com_element = set(list_45).intersection(set_45)
print("common element:-",com_element)

common element:- {3, 4}

In [9]:
#47.Create a set of the first `n` triangular numbers.
tri_set = set()
n = int(input("Enter the required number:-"))
sum = 0
for i in range(1,n+1):
    sum += i
    tri_set.add(sum) 
print(tri_set)

Enter the required number:- 5

{1, 3, 6, 10, 15}

In [11]:
#48.Check if a set contains another set as a subset.
Universal_set = set(range(1,100))
l = int(input("lower limit:-"))
u = int(input("Uper limit:-"))
check_subset = set(range(l,u))
if check_subset.issubset(Universal_set):
    print("True")
else:
    print("False")

lower limit:- 2
Uper limit:- 90

True

In [30]:
#49.Create a set of alternating 1s and 0s of length `n`.
n = int(input("enter the value of n:-"))
alternating_set = ()

for i in range(n):
    if i%2 == 0:
        alternating_set +=  (1,)
    else:
        alternating_set += (0,)
print("Alternating tuple:-", alternating_set)
print("Alternating set:-", set(alternating_set))

enter the value of n:- 6

Alternating tuple:- (1, 0, 1, 0, 1, 0)
Alternating set:- {0, 1}

In [38]:
#50.Merge multiple sets into one.
s50 = {2,3,4,5,6,7}
s_50 = {7,8,9,10}
set_50 = {20,21,22}
Universal_set = set(range(30,40))
merged_set = Universal_set.union(s50,s_50,set_50)
print("Merged set:-", merged_set)

Merged set:- {2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 21, 22, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39}